// Graphics color palette
$g-red: #E94455;
$g-light-red: #FF8878;
$g-gold: #FEB252;
$g-off-white: #FFEDCC;
$g-plum: #3A3352;

$f-color: #fcece3;

$dark-bg: #3A3352;
$light-bg: #fcece3;
$sponsor-bg: white;
$border: #fcece3;

$table-dark: #2d273f;
$table-light: #3A3352;